In [1]:
# 튜플과 리스트

In [1]:
empty_tuple =()
empty_tuple

()

In [2]:
one_marx = 'Groucho',
one_marx

('Groucho',)

In [3]:
one_marx=('Groucho',)

In [4]:
one_marx

('Groucho',)

In [5]:
one_marx = ('Groucho',)
one_marx

('Groucho',)

In [6]:
one_marx=('Groucho')

In [7]:
one_marx

'Groucho'

In [9]:
type(one_marx)

str

In [10]:
marx_tuple = 'Groucho','Chico','Harpo'
marx_tuple

('Groucho', 'Chico', 'Harpo')

In [11]:
marx_tuple=('Groucho','Chico','Harpo')
marx_tuple

('Groucho', 'Chico', 'Harpo')

In [12]:
one_marx='Groucho',
type(one_marx)

tuple

In [13]:
type('Groucho',)

str

In [14]:
type(('Groucho',))

tuple

In [15]:
marx_tuple =('Groucho','Chico','Harpo')
a,b,c = marx_tuple

In [16]:
a

'Groucho'

In [17]:
b

'Chico'

In [18]:
c

'Harpo'

In [19]:
password = 'swordfish'

In [20]:
icecream = 'tuttifrutti'

In [21]:
password, icecream = icecream, password

In [22]:
password

'tuttifrutti'

In [23]:
#생성하기 : tuple()

In [24]:
# tuple() 함수는 다른 객체를 튜플로 만들어준다.

In [25]:
marx_list =  ['Groucho',  'Chico',  'Harpo']

In [26]:
tuple(marx_list)

('Groucho', 'Chico', 'Harpo')

In [27]:
# 결합하기:+

In [28]:
('Groucho',)+('Chico','Harpo')

('Groucho', 'Chico', 'Harpo')

In [29]:
#항목 복제하기
('yada',)*3

('yada', 'yada', 'yada')

In [30]:
a=(7,2)

In [31]:
b=(7,2,9)

In [32]:
a==b

False

In [33]:
a<=b

True

In [34]:
a<b

True

In [35]:
#튜플 순회하기 for와 in

In [36]:
words = ('fresh','out','of','ideas')
for word in words:
    print(word)

fresh
out
of
ideas

In [37]:
# 수정하기

In [38]:
t1 =  ('Fee', 'Fie', 'Foe')

In [39]:
t2 = ('Flop',)  # 책에는 이거 오타 있음

In [40]:
t1+t2

('Fee', 'Fie', 'Foe', 'Flop')

In [41]:
t1 = ('Fee', 'Fie','Foe')

In [42]:
t2 = ('Flop',)

In [43]:
t1+=t2

In [44]:
t1

('Fee', 'Fie', 'Foe', 'Flop')

In [45]:
t1 = ('Fee','Fie','Foe')

In [46]:
t2 = ('Flop',)

In [47]:
id(t1) # 주소가 다름

2790536008576

In [48]:
t1 += t2

In [49]:
id(t1)# 주소가 다름

2790561058704

In [50]:
# 7.2 리스트  150p  
# 리스트는 데이터를 순차파악하는데 유용하다.
# 특히 내용의 순서가 바뀔수 있다. 
# 문자열과 달리 리스트는 변경 가능함.
# 현재 위치에서 새로운 요소를 추가, 삭제하거나 기존요소 덮어쓰기 가능

In [51]:
empty_list = []

In [52]:
weekdays  =  ['Monday',  'Tuesday',  'Wednesday',   'Thursday',  'Friday' ]

In [53]:
big_birds =  ['emu','ostrich',  'cassowary']

In [54]:
first_names =  ['Graham',  'John',  'Terry',  'Terry','Michael']

In [55]:
leap_years =  [2000,  2004,  2008]

In [56]:
 randomness  =  ['Punxsatawney', {'groundhog':    'Phil' }, 'Feb.  2']

In [57]:
#first_names 리스트는 값이 고유하지 않아도 되는것을 보여준다.

In [58]:
#요소의 순서룰 고려하지 않고, 고유값만 사용하고 싶다면 set만 사용
#big_birds 리스트를 셋으로 설정할수 있다.  셋은 8장에서 나옴

In [59]:
# 7.2.2 생성 및 변환하기 list()

In [60]:
another_empty_list = list()

In [61]:
another_empty_list

[]

In [62]:
#list() 함수는 다른 데이터 타입(튜플,문자열,셋,딕셔너리 등)을 리스트로 변환
#다음 예제는 단어 하나를 한 문자의 문자열 리스트로 변환한다.

In [63]:
list('cat') #튜플을 리스트로 변환

['c', 'a', 't']

In [64]:
a_tuple = ('ready','fire','aim')

In [65]:
list(a_tuple)

['ready', 'fire', 'aim']

In [66]:
take_like_a_pirate_day='9/19/2019'

In [67]:
take_like_a_pirate_day.split('/')

['9', '19', '2019']

In [68]:
#문자열 안에 구분자가 두개 이상 있을경우

In [69]:
splitme = 'a/b//c/d///e'

In [70]:
splitme.split('/') #빈 문자열을 볼 수 있다.

['a', 'b', '', 'c', 'd', '', '', 'e']

In [71]:
splitme = 'a/b//c/d///e'

In [72]:
splitme.split('//') #구분자에 따른 차이

['a/b', 'c/d', '/e']

In [73]:
# [offset] 으로 항목 얻기

In [74]:
marxes = ['Groucho','Chico','Harpo']

In [75]:
marxes[0]

'Groucho'

In [76]:
marxes[1]

'Chico'

In [77]:
marxes[2]

'Harpo'

In [78]:
marxes[-1]

'Harpo'

In [79]:
marxes[-2]

'Chico'

In [80]:
marxes[-3]

'Groucho'

In [81]:
#리스트 오프셋은 값을 할당한 위치에 맞게 입력되어야 한다.
#오프셋의 위치가 리스트의 범위를 벗어나면 예외가 발생한다.
#삼형제의 marxes(0~2)에서 6번쨰 오프셋을 입력하거나 끝에서 5번째를 입력하면 에러가 발생

In [82]:
#슬라이스로 항목 얻기 
#문자열과 마찬가지로 슬라이스에 스텝을 사용 가능

In [83]:
marxes=['Groucho','Chico','Harpo']

In [84]:
marxes[0:2]

['Groucho', 'Chico']

In [85]:
marxes[::2]

['Groucho', 'Harpo']

In [86]:
marxes[::-2]

['Harpo', 'Groucho']

In [87]:
marxes[::-1]

['Harpo', 'Chico', 'Groucho']

In [88]:
# marxes 리스트를 반대로 뒤집은 상태로 바꾸기위해 list.reverse() 메서드 사용

In [89]:
marxes = ['Groucho','Chico','Harpo']

In [90]:
marxes.reverse() #리스트를 변경하지만 값을 반환하지 않는다.

In [91]:
marxes

['Harpo', 'Chico', 'Groucho']

In [92]:
marxes= ['Groucho','chico','Harpo']

In [93]:
 marxes[4:]  
#리스트 슬라이스는 문자열 슬라이스와 같이 잘못된 인덱스 지정 가능
#예외는 발생하지 않는다. 유효 범위의 인덱스를 반환하거나 아무것도 반환하지 않음

[]

In [94]:
marxes[-6:]

['Groucho', 'chico', 'Harpo']

In [95]:
marxes[-6:-2]

['Groucho']

In [96]:
marxes[-6:-4]

[]

In [97]:
marxes = ['Groucho','Chico','Harpo']

In [98]:
marxes.append("zeppo") # 리스트 끝에 항목 추가하기 append()

In [99]:
marxes

['Groucho', 'Chico', 'Harpo', 'zeppo']

In [100]:
# 오프셋과 insert()로 항목 추가하기.

In [101]:
marxes = ['Groucho','Chico','Harpo']

In [102]:
marxes.insert(2,'Gummo')

In [103]:
marxes

['Groucho', 'Chico', 'Gummo', 'Harpo']

In [104]:
marxes.insert(10,'Zeppo')

In [105]:
marxes

['Groucho', 'Chico', 'Gummo', 'Harpo', 'Zeppo']

In [106]:
# 모든 항목 복제하기 :*

In [107]:
["blah"]*3  # 문자열의 문자를 * 로 복사한 것처럼 리스트도 가능

['blah', 'blah', 'blah']

In [108]:
#리스트 병합하기: extend()와 +

In [109]:
marxes = ['Groucho','Chico','Harpo','Zeppo']

In [110]:
others = ['Gummo','Karl']

In [111]:
marxes.extend(others)  # extend로 리스트 병합

In [112]:
marxes

['Groucho', 'Chico', 'Harpo', 'Zeppo', 'Gummo', 'Karl']

In [113]:
marxes = ['Groucho','Chico','Harpo','Zeppo']

In [114]:
others = ['Gummo','Karl']

In [115]:
marxes+=others  # +나 +=로 병합 가능

In [116]:
marxes

['Groucho', 'Chico', 'Harpo', 'Zeppo', 'Gummo', 'Karl']

In [117]:
# append()를 사용하면 항목을 병합하지 않고 others가 하나의 리스트로 추가된다.

In [118]:
marxes= ['Groucho','Chico','Harpo','Zeppo']

In [119]:
others = ['Gummo','Karl']

In [120]:
marxes.append(others) #append()를 사용하면 항목을 병합하지 않고 others가 하나의 리스트로 추가된다.

In [121]:
marxes

['Groucho', 'Chico', 'Harpo', 'Zeppo', ['Gummo', 'Karl']]

In [122]:
#7.2.10 [offset]으로 항목 바꾸기

In [123]:
marxes = ['Groucho','Chico','Harpo']

In [124]:
marxes[2] = 'Wanda'

In [125]:
marxes

['Groucho', 'Chico', 'Wanda']

In [126]:
#  리스트 오프셋은 리스트에서 유효한 위치여야 한다.
#문자열은 불변객체 - 리스트는 가변객체이기 때문에 위와 같은 방식으로 문자열 변경 불가
#리스트 항목 수와 항목 내용을 바꿀 수 있다.

In [127]:
#7.2.11 슬라이스로 항목 바꾸기

In [128]:
numbers=[1,2,3,4]

In [129]:
numbers[1:3] = [8,9]

In [130]:
numbers

[1, 8, 9, 4]

In [131]:
numbers = [1,2,3,4]

In [132]:
numbers[1:3] = [7,8,9]

In [133]:
numbers

[1, 7, 8, 9, 4]

In [134]:
numbers=[1,2,3,4]

In [135]:
numbers[1:3]=[]

In [136]:
numbers

[1, 4]

In [137]:
# 리스트에 할당되는 오른쪽 값의 수는 왼쪽 슬라이스 항목 수와 달라도 된다.
# 오른쪽 값은 리스트가 아니어도 된다. 즉 순회 가능한 타입 값을 리스트 항목에 할당가능

In [138]:
#158p

In [139]:
marxes=['Groucho','Chico','harpo','Gummo','Karl']

In [140]:
marxes[-1]

'Karl'

In [141]:
del marxes[-1]

In [142]:
marxes

['Groucho', 'Chico', 'harpo', 'Gummo']

In [143]:
del marxes[1]

In [144]:
marxes

['Groucho', 'harpo', 'Gummo']

In [145]:
# del은 리스트 메서드가 아니라 파이썬 구문이다.
# marxes[-1].del()을 수행 불가.
# del은 할당의 반대다. 
# 객체

In [146]:
# 값으로 항목 삭제하기 : remove()

In [147]:
marxes=['Groucho','Chico','Harpo']

In [148]:
marxes.remove('Groucho') # 리스트에서 삭제할 항목의 위치를 모른다면 
#remove로 삭제 가능

In [149]:
marxes

['Chico', 'Harpo']

In [150]:
# 오프셋으로 항목을 얻은 후 삭제하기: pop()
# 삭제한다는게 핵심

In [151]:
# pop()은 리스트에서 항목을 가져오는 동시에 그 항목을 삭제한다.
# pop과 그 인수로 오프셋을 호출했다면, 해당 오프셋의 항목이 반환된다.
# 인수가 없다면 기본값은 -1이다.
# pop(0)은 리스트의 머리(시작)을 반환한다.
# 그리고 pop()이나 pop(-1) 리스트의 꼬리(끝)을 반환한다

In [152]:
marxes= ['Groucho','Chico','Harpo','Zeppo']

In [153]:
marxes.pop()

'Zeppo'

In [154]:
marxes

['Groucho', 'Chico', 'Harpo']

In [155]:
marxes.pop(1)

'Chico'

In [156]:
marxes

['Groucho', 'Harpo']

In [157]:
# append()로 새로운 항목을 끝에 추가한 뒤 
# pop()으로 다시 마지막 항목을 제거했다면,
# 후입선출 구조인 스택을 구현한것이다.

# pop(0)을 사용했다면 선입선출 자료구조인 큐를 구현한것이다.

SyntaxError: invalid syntax (1296296461.py, line 1)

In [159]:
# 모든 항목 삭제하기 : clear()

In [160]:
work_quotes = ['Working hard?', 'Quick question!','Number one priorities!']

In [161]:
work_quotes

['Working hard?', 'Quick question!', 'Number one priorities!']

In [162]:
work_quotes.clear()

In [163]:
work_quotes

[]

In [164]:
# 값으로 오프셋 찾기 index()

In [165]:
marxes = ['Groucho','Chico','Harpo','Zeppo']

In [166]:
marxes.index('Chico')

1

In [167]:
#리스트에 같은 값이 2개 이상이면 첫 번째 오프셋만 반환한다.

In [168]:
simpsons = ['Lisa','Bart','Marge','Homer','Bart']

In [169]:
simpsons.index('Bart')

1

In [170]:
# 존재여부 확인하기: in

In [171]:
marxes = ['Groucho','Chico','Harpo','Zeppo']

In [172]:
'Groucho' in marxes

True

In [173]:
'Bob' in marxes

False

In [174]:
# 리스트에는 같은 값이 여러개 존재할수 있는데
# 리스트에 값이 적어도 하나 존재하면 in은 True를 반환한다.

In [175]:
#값 세기 count() - 리스트에 특정 항목이 얼마나 있는지 세기 위해 count()를 사용

In [176]:
marxes = ['Groucho','Chico','Harpo']

In [177]:
marxes.count('Harpo')

1

In [178]:
marxes.count('Bob')

0

In [179]:
snl_skit = ['cheeseburger','cheeseburger','cheeseburger']

In [180]:
snl_skit.count('cheeseburger')

3

In [181]:
# 문자열로 변환하기 : join()

In [182]:
marxes=['Groucho','Chico','Harpo']

In [183]:
', '.join(marxes)

'Groucho, Chico, Harpo'

In [185]:
# join()은 문자열 메서드지, 리스트 메서드가 아니다.
# marxes.join(', ')이 조금 더 직관적으로 보일지라도, 이렇게 사용할 수 없다.
# join()의 인수는 문자열 혹은 순회 가능한 문자열의 시퀀스다. (리스트 포함)
# 그괴고 결과로 반환되는 값은 문자열이다. 
# join()이 리스트 메서드였다면，튜플과 문자열 같은 다른 순회 가능한 객체와 함께 사용하지 못할 것이다. 
# 어떤 순회 가능한 타입을 처리하기 위해 각 타입을 실 제로 병합할 수 있도록 특별한 코드가 필요했다.
# 다음 예제와 같이 join()을 split()의 반대 라고 생각하면 기억하기 쉬울 것이다.

In [186]:
friends = ['Harry','Hermione','Ron']

In [187]:
separator=' * '

In [188]:
joined = separator.join(friends)

In [189]:
joined

'Harry * Hermione * Ron'

In [190]:
separated = joined.split(separator)

In [191]:
separated

['Harry', 'Hermione', 'Ron']

In [192]:
separated == friends

True

In [193]:
# 정렬하기 : sort()와 sorted()
# 오프셋을 이용하여 리스트를 정렬할 때도 있지만, 값을 이용하여 리스트를 정렬할때도 있음
# sort()는 리스트 자체를 내부적으로 정렬
# sorted()는 리스트의 정렬된 복사본을 반환.
# 리스트의 항목이 숫자라면 오름차순(기본값)으로 정렬한다. 문자열이면 알파벳순으로 정렬한다.

In [194]:
marxes=['Groucho','Chico','Harpo']

In [195]:
sorted_marxes = sorted(marxes)

In [196]:
sorted_marxes   # 이건 복사본임 원본은 변하지 않음

['Chico', 'Groucho', 'Harpo']

In [197]:
marxes

['Groucho', 'Chico', 'Harpo']

In [198]:
marxes.sort()

In [199]:
marxes

['Chico', 'Groucho', 'Harpo']

In [200]:
# 리스트 요소들이 모두 같은 타입이면 sort는 제대로 동작
# 때떄로 정수와 부동소수점 숫자 같이 혼합된 타입도 정렬할 수 있다. 
# 파이썬이 자동으로 타입을 변환해서 항목들을 정렬하기 때문이다

In [201]:
numbers = [2,1,4.0,3]

In [202]:
numbers.sort()

In [203]:
numbers

[1, 2, 3, 4.0]

In [204]:
# 기본 정렬 방식은 오름차순임.
# 내림차순으로 정렬하고 싶다면 인수에 reverse=True 를 추가하면됨

In [205]:
numbers=[2,1,4.0,3]

In [206]:
numbers.sort(reverse=True) # 리버스 추가

In [207]:
numbers

[4.0, 3, 2, 1]

In [208]:
# 항목 개수 얻기: len() 리스트의 항목 수를 반환

In [209]:
marxes=['Groucho','Chico','Harpo']

In [210]:
len(marxes)

3

In [211]:
# 할당하기 = 
# 한 리스트를 변수 두 곳에 할당했을때, 한 리스트 변경시 다른 리스트도 같이 변경

In [212]:
a =[1,2,3]

In [213]:
a

[1, 2, 3]

In [214]:
b=a

In [215]:
b

[1, 2, 3]

In [216]:
a[0] = 'surprise'

In [217]:
a

['surprise', 2, 3]

In [218]:
b

['surprise', 2, 3]

In [219]:
# b는 단지 같은 리스트 객체 a를 참조한다.
# 그러므로 a또는 b 리스트 내용을 변경하면 두 변수 모두에 반영

In [220]:
b[0] ='I hate surprises'

In [221]:
b

['I hate surprises', 2, 3]

In [222]:
a

['I hate surprises', 2, 3]

In [223]:
# 복사하기 copy(), list() , 슬라이스
# 한 리스트를 새로운 리스트로 복사가능

In [224]:
a=[1,2,3]

In [225]:
b=a.copy()

In [226]:
c= list(a)

In [227]:
d= a[:]

In [229]:
# b,c,d,는 a의 복사본이다. 자신만의 값을 가진 새로운 객체임.
# 복사본을 바꾸더라도 원본에 영향없음

In [230]:
a[0] = 'integer lists'

In [231]:
a

['integer lists', 2, 3]

In [232]:
b

[1, 2, 3]

In [233]:
c

[1, 2, 3]

In [234]:
d

[1, 2, 3]

In [235]:
# 깊은복사 deepcopy()
# 리스트 값이 모두 불변이면 copy는 제대로 작동함
# 리스트,튜플,딕셔너리와 같은 가변객체는 참조일뿐, 원본과 사본의 변경사항을 모두 반영함.

In [236]:
a=[1,2,[8,9]]

In [237]:
b= a.copy()

In [238]:
c = list(a)

In [239]:
d = a[:]

In [240]:
a

[1, 2, [8, 9]]

In [241]:
b

[1, 2, [8, 9]]

In [242]:
c

[1, 2, [8, 9]]

In [243]:
d #  이제 하위 리스트의 항목을 변경해보자.

[1, 2, [8, 9]]

In [244]:
a[2][1] =10

In [245]:
a

[1, 2, [8, 10]]

In [246]:
b

[1, 2, [8, 10]]

In [247]:
c

[1, 2, [8, 10]]

In [248]:
d

[1, 2, [8, 10]]

In [249]:
# a[2]의 값이 리스트이며，해당 항목을 변경할수 있다. 위에서 얕은복사 사용

In [250]:
import copy # 위 문제를 해결하기 위해 깊은복사 수행하는 deepcopy() 메서드를 사용

In [251]:
a= [1,2,[8,9]]

In [252]:
b= copy.deepcopy(a)

In [253]:
a

[1, 2, [8, 9]]

In [254]:
b

[1, 2, [8, 9]]

In [255]:
c

[1, 2, [8, 10]]

In [256]:
d

[1, 2, [8, 10]]

In [258]:
# deepcopy()는 하위에 중첩된 리스트,딕셔너리,기타 다른 객체를 모두 복사 (자세한내용은 9장에서)

In [259]:
a[2][1] =10

In [260]:
a

[1, 2, [8, 10]]

In [261]:
b # deepcopy 사용

[1, 2, [8, 9]]

In [262]:
c

[1, 2, [8, 10]]

In [263]:
d

[1, 2, [8, 10]]

In [265]:
# 리스트 비교 
# == , < 등과 같은 비교연산자 이용해서 리스트를 직접 비교가능
# 비교연산자는 두 리스트의 같은 위치의 오프셋 항목을 비교
# 리스트 a가 리스트 b보다 길이가 짧고, 모든 요소가 같으면 a는 b보다 작다.

In [266]:
a=[7,2]

In [267]:
b=[7,2,9]

In [268]:
a==b

False

In [269]:
a<=b

True

In [270]:
a<b

True

In [271]:
a=[3,2]

In [272]:
b=[1,2,3]

In [273]:
a>b

True

In [274]:
# 순회하기 for와 in 
# 6장에서 for문을 사용하여 문자열을 순회 했지만,
# 보통 리스트를 순회하는 것이 더 일반적이다.

In [275]:
cheeses= ['brie','gjetost','havarti']

In [276]:
for cheese in cheeses:
    print(cheese)

brie
gjetost
havarti

In [277]:
for cheese in cheeses:
    if cheese.startswith('g'):
        print("I won't eat anything that starts with 'g'")
        break
    else:
        print(cheese)

brie
I won't eat anything that starts with 'g'

In [278]:
# for문이 break문 없이 완료되었다면 다음과 같이 else문을 사용가능
for cheese in cheeses:
    if cheese.startswith('x'):
        print("I won't eat anything that starts with 'g'")
        break
    else:
        print(cheese)
else: 
    print("Didn't find anything that started with 'x'")

brie
gjetost
havarti
Didn't find anything that started with 'x'

In [280]:
# in 문의 리스트에 항목이 없어서 for문이 실행되지 않을 때도 else문이 실행된다.

In [281]:
cheeses = []
for cheese in cheeses:
    print('This shop has some lovely', cheese)
    break
else: # break문이 실행되지 않으면 실행된다.
    print('This is not much of a cheese shop, is it?')

# cheeses 리스트가  비어있어서 for 문이 수행되지 않았다. 역시 break 문도 수행x

This is not much of a cheese shop, is it?

In [282]:
# 여러 시퀀스 순회하기 : zip()  함수로 여러 시퀀스를 병렬로 순회 169p

In [283]:
days = ['Monday','Tuesday','Wednesday']

In [284]:
fruits = ['banana','orange','peach']

In [285]:
drinks = ['coffee','tea','beer']

In [286]:
desserts=['tiramisu','ice cream','pie','pudding']

In [287]:
for day,fruit,drink,dessert in zip(days, fruits, drinks,desserts):
    print(day, "drink",drink, "-eat",fruit, "- enjoy", dessert)

Monday drink coffee -eat banana - enjoy tiramisu
Tuesday drink tea -eat orange - enjoy ice cream
Wednesday drink beer -eat peach - enjoy pie

In [289]:
# 여러 시퀀스중 가장 짧은 시퀀스가 완료되면 zip()은 멈춘다.
# 푸딩을 사용하고싶으면 다른 리스트를 확장해야함

In [290]:
english = 'Monday','Tuesday','Wednesday'

In [291]:
french = 'Lundi','Mardi','Mercredi'

In [292]:
# 두개의 튜플을 만들기 위해 zip()을 사용.
# zip()에 의해 반환되는 값은 튜플이나 리스트 자신이 아니라 
# 하나로 반환될 수 있는 순회 가능한 값이다.

In [293]:
list( zip(english,french))

[('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesday', 'Mercredi')]

In [294]:
dict(zip(english,french)) # zip()의 결과를 dict()에 넣어보기 -> 작은 프랑스어 사전 생성됨

{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

In [295]:
# 리스트 컴프리헨션 for/in 문의 순회 기능을 가진 리스트 컴프리헨션을 통해 리스트를 생성

In [296]:
number_list = []

In [297]:
number_list.append(1)

In [298]:
number_list.append(2)

In [299]:
number_list.append(3)

In [300]:
number_list.append(4)

In [301]:
number_list.append(5)

In [302]:
number_list #1

[1, 2, 3, 4, 5]

In [303]:
number_list=[]

In [304]:
for number in range(1,6):
    number_list.append(number)

In [305]:
number_list #2

[1, 2, 3, 4, 5]

In [306]:
number_list = list(range(1,6)) # 3

In [307]:
number_list

[1, 2, 3, 4, 5]

In [310]:
# 위의 접근 방식은 동일한 결과를 생성함.
# 리스트 컴프리헨션을 사용하는게 조금 더 파이써닉한 방법임
# [표현식 for 항목 in 순회 가능한 객체]

In [311]:
number_list = [number for number in range(1,6)]  #앞의 number와 뒤에 number는 서로 다른거임

In [312]:
number_list

[1, 2, 3, 4, 5]

In [313]:
# 조건식도 넣을 수 있음 
# [표현식 for 항목 in 순회 가능한 객체 if 조건]

In [314]:
a_list =[number for number in range(1,6) if number %2 ==1]

In [315]:
a_list

[1, 3, 5]

In [317]:
# 이제 컴프리헨션이 지금까지 사용했던 방식보다 좀 더 단순하면서 강력하다

In [318]:
a_list=[]

In [319]:
for number in range(1,6):
    if number %2 ==1:
        a_list.append(number)

In [320]:
a_list

[1, 3, 5]

In [321]:
# 루프가 중첩될 수 있는 것처럼 컴프리헨션에서 루프에 상응하는 하나 이상의 for ... 절을 사용할 수 있다.

In [322]:
# 일반적인 중첩 루프 결과

In [323]:
rows = range(1,4)

In [324]:
cols = range(1,3)

In [325]:
for row in rows:
    for col in cols:
        print(row, col)

1 1
1 2
2 1
2 2
3 1
3 2

In [326]:
# 컴프리헨션 사용 (row,col) 튜플 리스트를 만들어서 cells 변수에 할당.

In [327]:
rows = range(1,4)

In [328]:
cols = range(1,3)

In [329]:
cells = [(row,col) for row in rows for col in cols]

In [330]:
for cell in cells:
    print(cell)

(1, 1)
(1, 2)
(2, 1)
(2, 2)
(3, 1)
(3, 2)

In [331]:
# 그리고 cells 리스트를 순회한 것처럼，
# 각 튜플로부터 row와 col의 값만 출력하기 위해 튜플 언패킹을 할 수 있다.

In [332]:
for row, col in cells:
    print(row,col)

1 1
1 2
2 1
2 2
3 1
3 2

In [333]:
# 리스트 컴프리헨션의 for row...와 for col ... 코드에서 자신의 if 테스트 만들기 가능

In [334]:
# 7.2.29 리스트의 리스트
# 리스트는 다음과 같은 리스트뿐만 아니라 다른 타입의 요소도 포함할 수 있다.

In [335]:
small_birds = ['hummingbird', 'finch']
extinct_birds = ['dodo', 'passenger pigeon', 'Norwegian Blue']
carol_birds = [3, 'French hens', 2, 'turtledoves']

In [336]:
all_birds = [small_birds, extinct_birds, 'macaw', carol_birds]

In [337]:
all_birds[0]

['hummingbird', 'finch']

In [338]:
all_birds[1]

['dodo', 'passenger pigeon', 'Norwegian Blue']

In [339]:
all_birds[1][0]

'dodo'

In [340]:
#튜플 vs 리스트

In [341]:
# 리스트 대신 튜플을 사용할수 있다. 하지만튜플은 리스트의 appendO, insert() 등과 같은 
# 함수가 없고，튜플을 생성한 후에는 수정할 수 없어서 함수의 수가 매우 적다. 그렇다면 리스트 
# 를 사용하지 않고 튜플을 사용하는 이유는 무엇일까?
# • 튜플은 더 적은 공간을 사용한다.
# • 실수로 튜플의 항목이 손상될 염려가 없다.
# • 튜플을 딕셔너리 키로 사용할 수 있다(딕셔너리는 8장 참조).
# • 네임드튜플(10.11 절 참조)은 객체의 단순한 대안이 될 수 있다.
# 튜플에 대한 내용은 여기서 마친다. 일반적으로 리스트와 딕셔너리를 더 많이 사용한다.

In [342]:
# 7.4 튜플 컴프리헨션은 없다.
# 가변 타입(리스트，딕셔너리 및 셋)에는 컴프리헨션이 있다. 문자열과 튜플과 같은 불변 타입 
# 은 다른 방법으로 만들어져야 한다.
# 리스트 컴프리헨션의 ［］를 ()로 변경하면 튜플 컴프리헨션이 될 것이라고 생각했을 수도 있 
# 다. 다음 코드는 예외를 발생하지 않아서 정상적으로 작동하는 것처럼 보인다.

In [343]:
number_thing =  (number  for number  in range(1,  6))

In [344]:
# () 안에 있는 것은 제네레이터 컴프리헨션 으로 완전히 다른 것이다.
# 제네레이터 객체를 반환한다.